@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --cor-de-fundo: rgb(36, 34, 46);
    --verde: rgb(7, 231, 7);
    --branco: white;
    --botao-ativo:rgb(40, 39, 41);
    --botao-inativo: rgb(44, 39, 51) ;
    --texto-fundo:  rgb(232, 235, 232) ;
}
body{
    background-color: var(--cor-de-fundo);
    font-family: 'Chakra Petch', sans-serif;
}
*{
    color: var(--branco);
}

span{
    color: var(--verde);
}

.conteudoprin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.titulo{
    text-align: center;
    width: 100%;
    font-size: 32px;
}

.botao{
    background-color: var(--botao-inativo);
     color: var(--branco);
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 1em;
     font-size: 18px;
     font-family: 'Chakra Petch', sans-serif;
     width: 100%;
     border-bottom: 4px solid var(--botao-ativo);
     border-left: 2px solid var(--botao-ativo);
     border-right: 2px solid var(--botao-ativo);
}
.botao.ativo{ 
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde)
 }
.botao:first-child{
    border-radius: 20px 20px 0 0;
}

.botao:last-child{
    border-radius: 0 0 20px 20px;
}
.aba-conteudo{
    display: none;
}
.aba-conteudo.ativo{
  display: block;
}
.abas-texto{
    padding: 50px;
    border-radius: 15px;
 background-color: var(--botao-inativo);
}
.aba-conteudo-principal{
    font-size: 20px;
    text-align: center;
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--verde);
    text-transform: uppercase;
}
@media screen and (min-width: 700px){
    .botoes{
        display: flex;
    }
    .botao:last-child{
        border-radius: 0 20px 20px 0;
    }

    .botao:first-child{
        border-radius: 20px 0 0 20px;
    }
}
